.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid royalblue;
  width: 150px;
}
.counter:hover {
  background-color: yellowgreen;
}
.number {
  font-size: 4rem;
}
.banner {
  width: 50%;
  margin: auto;
  background-color: darkorange;
  text-align: center;
  margin-top: 25px;
  font-size: 1.5rem;
}
.counters {
  margin: auto;
  display: flex;
}
.total {
  font-size: 1rem;
  margin-left: -1.5rem;
}
.button {
  font-size: 2rem;
  padding: 0.2rem 1rem;
}
.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 20px;
  margin-bottom: 1rem;
  position: relative;
}
.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: tomato;
}
.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}
.new {
  height: 20px;
  background-color: aqua;
  padding: 3px;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  left: 70%;
  top: 10%;
}
